<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MULTIMARCASCONNECTION"
			 connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=ProyectoAnalisis;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
		<add name="MULTIMARCASCONTABILIDADCONNECTION"
			 connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MultiMarcasContabilidadDB;Integrated Security=True"
			 providerName="System.Data:SqlClient"/>
	</connectionStrings>
</configuration>